In [ ]:
                                                                                                                            import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4, 3),
                  index=['a', 'c', 'd', 'f'],
                  columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f'])
print("Original Dataframe with NaN\n", df)
print("\n")
print("Dropped DataFrame\n", df.dropna())
print("\n")

Original Dataframe with NaN
         one       two     three
a -0.811627  0.860347 -0.574545
b       NaN       NaN       NaN
c -0.525081 -0.124893  1.001510
d -0.233472 -0.701088  0.722027
e       NaN       NaN       NaN
f -2.087988  0.781013  1.272407


Dropped DataFrame
         one       two     three
a -0.811627  0.860347 -0.574545
c -0.525081 -0.124893  1.001510
d -0.233472 -0.701088  0.722027
f -2.087988  0.781013  1.272407

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4, 3),
                  index=['a', 'c', 'd', 'f'],
                  columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f'])
print("Original Dataframe with NaN\n", df)
print("\n")
print("Dropped DataFrame\n", df.dropna())
print("\n")

Original Dataframe with NaN
         one       two     three
a -0.811627  0.860347 -0.574545
b       NaN       NaN       NaN
c -0.525081 -0.124893  1.001510
d -0.233472 -0.701088  0.722027
e       NaN       NaN       NaN
f -2.087988  0.781013  1.272407


Dropped DataFrame
         one       two     three
a -0.811627  0.860347 -0.574545
c -0.525081 -0.124893  1.001510
d -0.233472 -0.701088  0.722027
f -2.087988  0.781013  1.272407

In [3]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c'])
print("Original Dataframe:\n",df)
print("\n")
print("NaN replaced with '0':\n")
print(df.fillna(0))

Original Dataframe:
         one       two     three
a -0.674376  1.069780 -0.291313
b       NaN       NaN       NaN
c  0.510900 -0.685293  1.046309


NaN replaced with '0':

        one       two     three
a -0.674376  1.069780 -0.291313
b  0.000000  0.000000  0.000000
c  0.510900 -0.685293  1.046309

In [4]:
df = pd.DataFrame({'one':[10,20,80,40,50], 'two':[60,70,80,0,10]})
print("Original Dataframe:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original Dataframe:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [5]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNan-with True fill:\n")
print(df['one'].isnull())

Original Dataframe:
         one       two     three
a -0.741824  0.335750  0.986867
b       NaN       NaN       NaN
c -1.153265  0.737613  1.735226
d  1.179984 -0.156190 -1.016112
e       NaN       NaN       NaN
f  0.879800 -1.079178 -0.964750

Nan-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [6]:
df = pd.DataFrame(np.random.randn(4,3), index=['a','c','d','f'], columns=['one','two','three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe:\n",df)
print("\nNaN - Filled with Background Values:\n")
print(df.fillna(method='bfill'))

Original Dataframe:
         one       two     three
a  1.174409  0.430563 -0.549697
b       NaN       NaN       NaN
c -1.469065  0.848795  0.577822
d -2.017404 -0.264378 -0.003393
e       NaN       NaN       NaN
f  0.097152 -2.793849 -1.337743

NaN - Filled with Background Values:

        one       two     three
a  1.174409  0.430563 -0.549697
b -1.469065  0.848795  0.577822
c -1.469065  0.848795  0.577822
d -2.017404 -0.264378 -0.003393
e  0.097152 -2.793849 -1.337743
f  0.097152 -2.793849 -1.337743

/tmp/ipython-input-487362110.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill'))